<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>County Interpolation</title>
        <!-- Favicon-->
        <link rel="icon" type="image/x-icon" href="{{url_for('.static', filename='assets/favicon.ico')}}" />
        <!-- Bootstrap icons-->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css" rel="stylesheet" type="text/css" />
        <!-- Google fonts-->
        <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic,700italic" rel="stylesheet" type="text/css" />
        <!-- Core theme CSS (includes Bootstrap)-->
        <link href="{{url_for('.static', filename='css/styles.css')}}" rel="stylesheet" />
    </head>
    <body>
        <!-- Navigation-->
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top" id="mainNav">
            <div class="container">
              <a class="navbar-brand js-scroll-trigger" href="#top">County Interpolation</a>
              <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
              <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav ml-auto">
                  <li class="nav-item">
                    <a class="nav-link js-scroll-trigger" href="#howto">How to Use</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link js-scroll-trigger" href="#methodology">Methodology</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link js-scroll-trigger" href="#about">About</a>
                  </li>
      
                </ul>
              </div>
            </div>
          </nav>
        
        <!-- Masthead-->
        <header class="masthead"  id="top">
            <div class="container position-relative">
                <div class="row justify-content-center">
                    <div class="col-xl-6">
                        <div class="text-center text-white">
                            <!-- Page heading-->
                            <h1 class="mb-5">Interpolate your spatial data</h1>
                            
                            <form action="/" method="POST" enctype="multipart/form-data">
                                <input type="file" id="file" name="file" class="form-control"><br />

                                <div class="col-auto"><button class="btn btn-warning btn-lg" type="submit">Upload</button></div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </header>

        <!-- HOW-TO-USE -->
        <section class="showcase">
            <div class="container-fluid p-0">
                <div class="row g-0" id="howto">
                    <div class="col-lg-6 my-auto showcase-text">
                        <h2>Formatting Your Data</h2>
                        <p></p>
                        <img class="img-fluid" src="{{url_for('.static', filename='assets/img/data_formatting.png')}}" alt="">
                        <p><br><a href="{{url_for('.static', filename='example_data.csv')}}"  style="color:black;">Download</a> example data, which you can use to interpolate <a href="http://doi.org/10.1111/jopy.12674"  style="color:black;">county-level personality</a> (agreeableness) from income and education.
                    </div>
                    
                    <div class="col-lg-6 order-lg-2 my-auto showcase-text">
                        <h2>How to Use</h2>
                        <p class="lead mb-0">Upload a .cvs file in which each row is a single spatial unit (e.g., U.S. county). 
                            The <span class="text-primary">first column must be an ID for that entry</span> (e.g., county FIPS code), and the <span class="text-danger">second column must be the variable you wish to interpolate</span>. All other <span style="color:purple;">columns will be used to train the Gaussian Process model used for interpolation</span>.
                        </p>
                        <br>
                        <p class="lead mb-0">
                            This tool then trains a Gaussian Process model and interpolates the outcome for each row with missing data. It returns a CSV with the interpolated value (i.e., the mean of the predictive distribution) as well as the standard deviation. 
                        </p>
                    </div>
                </div>
            </div>
        </section>

        <!-- METHODOLOGY-->
        <section class="testimonials  bg-light" id="methodology">
            <div class="container">
                <h2 class="mb-5 text-centerd">Methodology</h2>
                <div class="row">
                    <div class="col-lg-4 text-centerd">
                        <div class="testimonial-item mx-auto mb-5 mb-lg-0">
                            <img class="img-fluid rounded-circle mb-3" src="{{url_for('.static', filename='assets/img/testimonials-1.jpg')}}" alt="..." />
                        </div>
                    </div>
                    <div class="col-lg-8 order-lg-2 my-auto showcase-text text-left">
                        
                        <ul class="lead mb-0">
                            <li>This tool presents principled methods to interpolate spatial data using formal Bayesian models, namely Gaussian Processes.</li>
                            <li>Powered by <a href="https://gpytorch.ai/" style="color:black;">GPytorch</a>, a highly efficient and modular implementation of Gaussian Processes.</li>
                            <li>Using a modern machine learning framework, the GP hyperparameters are learned from the training data, as opposed to chosen a priori.</li>
                            <li>Full technical details are available <a href="https://github.com/sjgiorgi/county-interpolation.wwbp.org" style="color:black;">here</a> or you can read our paper <a href="" style="color:black;">here</a>.</li>
                            <li>Try it with this <a href="{{url_for('.static', filename='example_data.csv')}}d" style="color:black;">sample data</a> .</li>
                        </ul>
                    </div>
                    <!-- <div class="col-lg-4">
                        <div class="testimonial-item mx-auto mb-5 mb-lg-0">
                            <img class="img-fluid rounded-circle mb-3" src="{{url_for('.static', filename='assets/img/testimonials-1.jpg')}}" alt="..." />
                            <h5>Read the paper</h5>
                            <p class="font-weight-light mb-0">You can read the full details in our <a href="" style="color:black;">paper</a>.</p>
                        </div>
                    </div> -->
                </div>
            </div>
        </section>

        <!-- ABOUT-->
        <section class="showcase">
            <div class="container-fluid p-0">
                <div class="row g-0" id="about">
                    <div class="col-lg-6 order-lg-1 my-auto showcase-text">
                        <h2>Citation</h2>
                        <p class="lead mb-0">Please cite this tool as follows: <p></p>
                            <pre>@inproceedings{blah,
    title = "blahblahblahblahblahblah",
    author = "blahblahblah  and
        blahblahblah  and
        blahblahblah",
    booktitle = "blah blah blah blah blah",
    month = blah,
    year = "2022",
    address = "blahblahblahblah",
    publisher = "blahblahblahblah",
    url = "blahblahblahblah",
    pages = "blah--blah"
}</pre>
                        </p>
                    </div>
                    <div class="col-lg-6 my-auto showcase-text">
                        <h2>Who we are</h2>
                        <p class="lead mb-0">This resource is provided by <a href="http://salvatoregiorgi.com/" style="color:black;">Salvatore Giorgi</a>, 
                            <a href="https://jeichstaedt.com/" style="color:black;">Johannes C. Eichstaedt</a>, 
                            <a href="https://www.preotiuc.ro/" style="color:black;">Daniel Preotiuc-Pietro</a>, 
                            <a href="https://jacobrgardner.github.io/" style="color:black;">Jacob R. Gardner</a>, 
                            <a href="https://www3.cs.stonybrook.edu/~has/" style="color:black;">H. Andrew Schwartz</a>, and <a href="https://www.cis.upenn.edu/~ungar/" style="color:black;">Lyle H. Ungar</a> of the University of Pennsylvania, Stanford University, Bloomberg, and Stonybrook University. </p>
                            <br>
                            <p class="lead mb-0">Please send comments, suggestions, and bug reports to sal.giorgi@sas.upenn.edu.</p>
                    </div>
                </div>

            </div>
        </section>
        
        
        <!-- Footer-->
        <footer class="footer bg-light">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6 h-100 text-center text-lg-start my-auto">
                        <ul class="list-inline mb-2">
                            <li class="list-inline-item"><a href="https://wwbp.org" style="color:black;">World Well-Being Project</a></li>
                            <li class="list-inline-item">⋅</li>
                            <li class="list-inline-item"><a href="https://gpytorch.ai/" style="color:black;">GPytorch</a></li>
                        </ul>
                    </div>
                    <div class="col-lg-6 h-100 text-center text-lg-end my-auto">
                        <ul class="list-inline mb-0">
                            <li class="list-inline-item me-4">
                                <a href="https://github.com/sjgiorgi/county-interpolation.wwbp.org" style="color:black;"><i class="bi-github fs-3"></i></a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </footer>
        <!-- Bootstrap core JS-->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
        <!-- Core theme JS-->
        <script src="{{url_for('.static', filename='js/scripts.js')}}"></script>
        <script src="https://cdn.startbootstrap.com/sb-forms-latest.js"></script>
    </body>
</html>
